<?xml version="1.0"?>
<config>
    <modules>
        <Plopcom_Unblocker>
            <version>0.1.0</version>
        </Plopcom_Unblocker>
    </modules>
    <global>
        <blocks>
            <plopcom_unblocker>
                <class>Plopcom_Unblocker_Block</class>
            </plopcom_unblocker>
        </blocks>
        <helpers>
            <unblocker>
                <class>Plopcom_Unblocker_Helper</class>
            </unblocker>
            <plopcom_unblocker>
                <class>Plopcom_Unblocker_Helper</class>
            </plopcom_unblocker>
        </helpers>
        <models>
            <unblocker>
                <class>Plopcom_Unblocker_Model</class>
            </unblocker>
            <plopcom_unblocker>
                <class>Plopcom_Unblocker_Model</class>
            </plopcom_unblocker>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <plopcom_unblocker>
                    <files>
                        <default>Plopcom_Unblocker.csv</default>
                    </files>
                </plopcom_unblocker>
            </modules>
        </translate>
        <layout>
            <updates>
                <plopcom_unblocker module="Plopcom_Unblocker">
                    <file>plopcom_unblocker.xml</file>
                </plopcom_unblocker>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <plopcom_unblocker before="Mage_Adminhtml">Plopcom_Unblocker_Adminhtml</plopcom_unblocker>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>